﻿/* 
Site: VixDigital Pool Game
*/

/******************* General Styles *******************/

* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

body {
	font-family: Calibri, Arial, sans-serif;
	margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
	width: 100%;
	-webkit-text-size-adjust: none;
	-ms-text-size-adjust: none;
}

h1 {
    font-size: 2rem;
    font-family: calibri, sans-serif;
    color: #fff;
}

hr {
    border-top: 1px solid #1d3c68;
    margin: 15px auto;
    width: 100%;
}

a {
	text-decoration: none;
	display: block;
} 

a:hover {
	text-decoration: underline;
} 

p, li, a {
    font-family: 'Roboto', calibri, sans-serif;
    font-size: 20px;
    color: #fff;
    margin-top: 10px;
}

/* Main Image */

.bgimg {
    background-image: url('../images/pool-table.jpeg');
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}

.middle {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
	/*background-color: red;*/
	height: 80%;
	width: 95%;
}

/* Header */

.header {
	background-color: #ef476f;
	height: 65px;
	line-height: 60px;
	text-align: center;
	width: 100%;
}

.logo {
	width: 200px;
	margin: 0 auto;
}

.logo svg {
	height: 60px;
	vertical-align: middle;
}

.logo svg:hover {
	opacity: .8;
}

.main-container {
	background-color
}

/* Stage Block */

.stage-container {
	width: 100%;
	/*background-color: green;*/
	height: 80%;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.stage-block {
    border: 1px solid #fff;
    width: 20%;
    height: auto;
    display: inline-block;
    margin: 0 1%;
    padding: 20px 0;
}

.block-container {
    /*background-color: red;*/
    height: auto;
    display: inline-block;
    width: 100%;
    float: left;
}

input[type="text"] {
    width: 40%;
    display: inline-block;
}

#save-button {
    display: block;
    margin: 20px auto;
    padding: 10px;
    background-color: #ef476f;
    border: 0;
    outline: 0;
	color: #fff;
	transition: .4s ease;
	cursor: pointer;
}

#save-button:hover {
	background-color: #fff;
	color: #ef476f;
}

form {
    width: 100%;
}

.player {
	display: block;
}

form p {
    display: inline-block;
	font-size: 17px;
}

input#win, input#loose {
    width: 20px;
}





